body, html {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    background-image: url("../img/background.gif");
    background-color: #222429;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size:18px;
}
.header{
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
    height:7vh;
}
.h1{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 30px;
    font-size:50px;
}

/*Textarea*/

.color-border textarea {
    border: 2px solid #59698D;
    background-color: transparent;
    resize: none;
    color: white;
    font-size:20px;
}
.color-border .form-control:focus {
    border: 2px solid #59698D;
    box-shadow: 0 0 0 0.2rem rgba(57, 66, 84, .50);
    background-color: transparent;
    color: white;
    font-size:20px;
}

/*Configuration and Button Section*/

.configuration{
    margin-right:0;
    margin-left:0;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height:7vh;
    font-size: 20px;
}
.btn{
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    margin-right:20px;
    font-size: 18px;
    
}
.custom-options{
    height: 100%;
    padding-left:45px;
    border-left: 2px solid;
    border-color: #59698D;
}

/*Chat Section*/

.chat-container {
    height:100%;    /*si o si para que se genere el overflow*/
    padding-left:1.8%;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow-y: auto; /*que aparezca la scrollbar cuando sea necesario*/
    overflow-x: hidden;
    font-weight: 600;
    font-size:20px;
}
.chat-container::selection {
    background: #85b7d8;
}

.chat-input{
    height: 12%;
    background-color: rgba(0,0,0,.60);
    font-size:22px;
    color:#3a3a3a;
    user-select: none;
}
.send-button{
    margin-right: 1vw;
    font-size: 25px;
    font-weight: 600;
}

/*Strafes data talbe*/

table tr td{
    padding-right: 27px;
    table-layout: inherit;
    font-size:20px !important;
    font-weight: 600;
}

/*Scrollbars*/

.scrollbar-primary::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
} 
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #6d6d6d;
    border-radius: 0 !important;
}
.scrollbar-primary {
    scrollbar-color: #6d6d6d #F5F5F5;
}

/*Popover*/

.popover{   /*The container, the background*/
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
    background-color: rgba(0,0,0,0.25);
    border-radius: 0;
}
.popover .arrow:after {
    border-right-color: rgba(0,0,0,0.25);
}

/*Social Icons*/

.social{
    margin-bottom:0;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    font-size: 30px;
    color:#59698D;
}

/*Media Queries*/

@media(max-width: 480px) {
    .header{
        margin-top: 3vh;
        margin-bottom: 3vh;
        height:5vh;
    }
    .h1 {
        font-size: 35px;
    }
    .configuration{
        font-size: 14px;
        height:12vh;
    }
    .btn{
        font-size: 14px;
        margin: 0;
    }
    .custom-options{
        width: 80%;
        padding-left:30px;
        border-left: 2px solid;
        border-color: #59698D;
    }
    .chat-container{
        font-size: 15px;
    }
    table tr td{
        font-size:15px !important;
        padding-right: 20px;
    }
    .color-border textarea {
        font-size:15px;
    }
    .color-border .form-control:focus {
        font-size:15px;
    }
}

/*Primary Color Tiers*/

.meh{
    color:white;
}
.perfect{
    color:#5d96d6;
}
.impressive{
    color:#3ffc3f;
}
.godlike{
    color:#ff0000;
}
.ownage{
    color:#e4ae39;
}
.dataSource {
    color:#c7fd9e;
}
.ljBlock {
    color: #ede47a;
}

/*Secondary Color Tiers*/

.secondary-meh{
    color:white;
}
.secondary-perfect{
    color:#b0c3d9;
}
.secondary-impressive{
    color:#bfff90;
}
.secondary-godlike{
    color:#ff4040;
}
.secondary-ownage{
    color:#ede47a;
}